.flexContainerRow {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:lightblue;
    padding:15px;
}
.flexChildRow {
    background-color: red;
    padding: 10px;
    margin: 10px;
    height: 200px;
}
.flexContainerColumn {
    display:flex;
    flex-direction: column;
    background-color:red;
    padding:15px;
}
.flexChildColumn {
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
    height: 200px;
}